{% extends 'system/base.html' %}


{% block content %}

<div class="card-body" style="height: 45rem;">
    <h2 class="card-title">This is Result page based on Unique Data</h2>
<div class="container">
<div class="row">
	<div class="card col" style="height: 40rem;">
	<div class="card-title m-4"><a href="{% url 'choose' %}"><h4>Unique Prediction</h4></a></div>
    <form action="." method="GET">
    <div class="form-col">
    <input type="radio" name="id1" value="user" required>
    <label>Based on Users</label><br>
    <input type="radio" name="id1" value="song" required>
    <label>Based on Songs</label><br>
    <input type="text" name="Id" required>
    <input type="submit" value="Predict">
    </div>
	</form>
 	
	{% if flag.value == 'Unique' %}
    <h1>data goes here</h1>
    <table style="width:80%">
  <tr>
    <th>UserId</th>
    <th>SongsId</th> 
    <th>Rating</th>
  </tr>
  {% for d in Data%}
  <tr>
    <td>{{d.user}}</td>
    <td>{{d.song}}</td>
    <td>{{d.rate}}</td>
  </tr>
  {% endfor %}
</table>
    {% endif %}



	</div> 
	<div class="card col" style="height: 40rem;">
	<div class="card-title m-4"><a href="{% url 'choose' %}"><h4>Random Prediction</h4></a></div>
    <form action="." method="GET">
    	<input type="radio" name="id1" value="random" required>
    	<label>Random</label>
    	<input type="submit" value="Predict">
    </form>
    
    {% if flag.value == 'Random' %}
    <table style="width:80%">
  <tr>
    <th>UserId</th>
    <th>SongsId</th> 
    <th>Rating</th>
  </tr>
  {% for d in Data%}
  <tr>
    <td>{{d.user}}</td>
    <td>{{d.song}}</td>
    <td>{{d.rate}}</td>
  </tr>
  {% endfor %}
</table>
    {% endif %}
	</div>
    
</div>
</div>


{% endblock content %}
